/* Hero section */
.heroSection {
    height: 400px;
}

.heroOverlayImg {
    position: absolute;
    right: 20px;
    max-height: 650px;
}

.heroSection__content {
    display: flex;
    flex-direction: column;
}

.heroSection__text {
    padding: 2em;
}

.heroSection__cta {
    align-items: center;
}

.heroSection__img {
    object-fit: contain;
}

.heroSection__downloadBtn {
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
}

.heroSection__usageBtn {
    position: relative;
    padding: 0;
    margin: 1em 2em;
    transition: all 0.3s;
}

.heroSection__usageBtn:hover {
    color: var(--darkened-primary-text-color);
}

.heroSection__usageBtn:hover::before {
    transform: scaleY(2);
}

.heroSection__usageBtn::before {
    content: '';
    display: inline-block;
    width: 100%;
    background: var(--primary-color);
    background-image: radial-gradient( circle 915px at 14.7% 29.8%,  rgba(42,153,176,1) 0%, rgba(39,126,143,1) 49.7% );
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    margin: auto;
    transition: all 0.3s;
}


/* Description section */
.descriptionSection {
    background: var(--primary-color);
    color: var(--secondary-text-color);
}

/* Install section */
.installSection img {
    max-width: 100%;
    max-height: 700px;
}

/* Usage section */
.usageSection {
    background: var(--primary-color);
    color: var(--secondary-text-color);
}

.usagePointSection {
    justify-content: space-between;
    margin: 2em 0;
}

.usagePointSection__img {
    margin-top: 2em;
    max-width: 40%;
}

.usagePointSection__content {
    max-width: 40%;
}

.usagePointSection__img img {
    max-width: 100%;
}

.usagePointSection:nth-child(odd) .usagePointSection__img {
    order: 1;
}

/* Error section */
.errorSection__error {
    flex: 1;
}

/* Footer */
footer {
    background: var(--primary-color);
    color: var(--secondary-text-color);
}

/* Remove overlay image when screen width less than 1000px*/
@media only screen and (max-width: 1000px) {
    .heroOverlayImg {
        display: none;
    }
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    .flex-row {
        flex-direction: column;
    }
    .heroSection__content {
        text-align: center;
    }
    .heroSection__text {
        padding: 0;
    }
    .usagePointSection__img, .usagePointSection__content {
        max-width: 100%;
    }
    .usagePointSection__img {
        order: 1;
    }
    footer {
        text-align: center;
    }
}