html, body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    color: var(--primary-text-color);
    background: #EAF2F6;
}

section, footer {
    padding: 1.5em 4em;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: inherit;
    transition: all 0.3s;
}

a:hover {
    filter: brightness(90%);
}

ul {
    padding-left: 1.1em;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    section, footer {
        padding: 1em;
    }
}