.headerText1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.headerText2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.bodyText {
    font-size: 1.1rem;
    max-width: 500px;
    line-height: 1.5;
}

.align-right {
    margin-left: auto;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.btn {
    cursor: pointer;
    padding: 0.7em 1.2em;
    text-decoration: none;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.materialShadow {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
    /* Change right alignment to center on mobile */
    .text-align-right {
        text-align: center;
    }
    .align-right {
        margin: auto;
    }
}
